.cor-primaria-secundaria div{
  width: 40px;
  height: 4px;
  padding: 10px;
}

.cor-primaria-secundaria{
  margin: 2px auto;
}

.cor-primaria-secundaria div {
  width: 33%;
  max-width: 25px;
  height: 3px;
  padding: 3px;
}
