<div class="card">
  <div class="flex flex-col gap-2 w-full my-6" style="width: 100%; max-width: 400px;">
    <label for="lastName" class="required">Nome</label>
    <input [(ngModel)]="permissao.nome" pInputText type="text" />
  </div>
  <div class="flex flex-col flex-wrap lg:flex-nowarp md:flex-col lg:flex-row gap-4">
    <div class="grow">
      <h5 class="text-center">Permissões</h5>
      <p-picklist [source]="grupos" filterBy="nome" [target]="permissao.gruposSelect" [dragdrop]="true" [responsive]="true"
        scrollHeight="calc(100vh - 550px)" breakpoint="1400px">
        <ng-template let-item #item>
          <span class="col-span-6">{{ item.nome }}</span>
        </ng-template>
      </p-picklist>
    </div>
    <div class="grow">
      
    </div>
  </div>
  <app-voltar-salvar (salvarEmit)="salvar()" />
</div>
