<p-button type="submit" pTooltip="Configurar WIFI" tooltipPosition="top"
  [severity]="device?.conexao?.habilitarWifi ? device?.conexao?.wifiConectado ? 'success' : 'warn' : 'secondary'"
  [rounded]="true" [outlined]="true" (onClick)="op.toggle($event)" size="small">
  <span class="material-symbols-outlined">
    wifi
  </span>
</p-button>

<p-popover #op styleClass="lg:min-w-[300px] popover-clean" [dismissable]="false">
  <div class="settings-container">

    <p-card header="Comunicação Sem fio" subheader="Configurações de conexão Wi-Fi">

      <!-- Meta informações do Dispositivo -->
      <div *ngIf="showDetalhes" class="dispositivo-meta-grid mb-4">
        <div class="meta-item">
          <span class="meta-label">ID Dispositivo</span>
          <span class="meta-value">#{{ device?.id }}</span>
        </div>
        <div class="meta-item">
          <span class="meta-label">Cliente</span>
          <span class="meta-value">{{ device?.cliente?.nome }}</span>
        </div>
        <div class="meta-item">
          <span class="meta-label">Firmware</span>
          <span class="meta-value">v{{ device?.versao }}</span>
        </div>
      </div>

      <hr class="separator" />



      <div class="flex flex-col gap-4 py-4">
        <div class="flex justify-between">
          <div>
            <label class="relative inline-flex items-center cursor-pointer">
              <input [disabled]="!authService.isPermiteAlterarWIFI()" type="checkbox" (change)="device.conexao.habilitarWifi = !device?.conexao?.habilitarWifi"
                [checked]="conexao.habilitarWifi" [(ngModel)]="conexao.habilitarWifi" class="sr-only peer">
              <div
                class="w-8 h-4 bg-gray-200 dark:bg-neutral-700 rounded-full peer peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-3 after:w-3 after:transition-all dark:border-neutral-600 peer-checked:bg-indigo-600">
              </div>
            </label>
          </div>
          <app-nivel-wifi [conexao]="device.conexao" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="nome" class="text-sm font-semibold text-color">SSID *</label>
          <input [disabled]="!authService.isPermiteAlterarWIFI()" pInputText id="nome" type="text" [(ngModel)]="conexao.ssid" placeholder="Nome" class="w-full" />
        </div>

        <div class="flex flex-col gap-2 w-full">
          <label for="nome" class="text-sm font-semibold text-color">Senha *</label>
          <p-password [disabled]="!authService.isPermiteAlterarWIFI()" [(ngModel)]="conexao.senha" placeholder="Senha" class="!w-full" />
        </div>
      </div>

      <!-- Rodapé com as Ações -->
      <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2">
          <p-button label="Cancelar" icon="pi pi-times" severity="secondary" [disabled]="salvando"
            (onClick)="cancelar(); op.hide()">
          </p-button>
          <p-button [disabled]="!authService.isPermiteAlterarWIFI()" label="Salvar Alteração" icon="pi pi-check" severity="primary" [loading]="salvando"
            (onClick)="confirmarAlteracao(); op.hide()">
          </p-button>
        </div>
      </ng-template>

    </p-card>
  </div>

</p-popover>
