<p-fluid>
  <div class="card flex">
    <div *ngIf="load" class="p-6 w-full">
      <app-skeleton />
    </div>
    <div *ngIf="!load" class="flex-col gap-6 w-full">
      <div class="font-semibold text-xl">Cadastro de usuários</div>

      <div class="flex gap-6 w-full py-4">
        <div class="flex flex-col gap-4 flex-grow w-[50%]">
          <div class="flex flex-wrap gap-2 w-full">
            <label for="firstname" class="required">Nome</label>
            <input [class.border-error]="isInvalid('firstName')" [(ngModel)]="usuario.firstName" pInputText
              type="text" />
            @if (isInvalid('firstName')) {
            <span class="text-error">Nome é obrigatório</span>
            }
          </div>
          <div class="flex flex-wrap gap-2 w-full">
            <label for="lastName" class="required">Sobrenome</label>
            <input [class.border-error]="isInvalid('lastName')" [(ngModel)]="usuario.lastName" pInputText type="text" />
            @if (isInvalid('lastName')) {
            <span class="text-error">Sobrenome é obrigatório</span>
            }
          </div>
          <div class="flex flex-wrap gap-2 w-full">
            <label for="username" class="required">Nome de usuário</label>
            <input [class.border-error]="isInvalid('username')" [(ngModel)]="usuario.username" name="username"
              pInputText type="text" />
            @if (isInvalid('username')) {
            <span class="text-error">Documento é obrigatório</span>
            }
          </div>
          <div class="flex flex-wrap gap-2 w-full">
            <label for="email" class="required">Email</label>
            <input [class.border-error]="isInvalid('email')" [(ngModel)]="usuario.email" pInputText type="text" />
            @if (isInvalid('email')) {
            <span class="text-error">Email inválido</span>
            }
          </div>
        </div>
        <p-fieldset legend="Controle de perfil" [toggleable]="false" [style]="{'height': '100%'}">
          <div class="flex flex-col gap-4">
            <div class="flex gap-2">
              <p-select [options]="permissoes" [(ngModel)]="permissaoUsuario" optionLabel="nome" dataKey="id"
                appendTo="body" placeholder="Selecione uma permissão para o usuário" class="w-full col-span-4"
                [style]="{'max-width': '200px'}" />
              <div class="flex flex-wrap lg:flex-nowrap gap-2 justify-between grow">
                <p-button (onClick)="atualizarPermissao()" [outlined]="true"
                  [disabled]="!permissaoUsuario || permissaoUsuario == usuario.permissao" label="Atualizar perfil"
                  icon="pi pi-refresh" [style]="{'max-width': '200px'}" />
                <p-button (onClick)="removerOtp()" [outlined]="true" severity="danger" label="Resetar 2FA"
                  icon="pi pi-trash" [style]="{'max-width': '200px'}" />
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 py-4">
              <div *ngFor="let grupo of usuario.groups" class="flex items-center pb-2">
                <i class="pi pi-check-circle text-teal-500"></i>
                <label class="ml-2">{{grupo.nome}}</label>
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
      <app-voltar-salvar (salvarEmit)="salvar()" [cancel]="true"  (voltarEmit)="onClose.emit()"/>
    </div>
  </div>
</p-fluid>
