 
.bpmn-icon-trash:before { color: var(--primary-color); }
.bpmn-icon-gateway-parallel:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-cancel:before { color: var(--primary-color); } 
.bpmn-icon-intermediate-event-catch-non-interrupting-message:before { color: var(--primary-color); }
.bpmn-icon-start-event-compensation:before { color: var(--primary-color); }
.bpmn-icon-start-event-non-interrupting-parallel-multiple:before { color: var(--primary-color); }
.bpmn-icon-loop-marker:before { color: var(--primary-color); }
.bpmn-icon-parallel-mi-marker:before { color: var(--primary-color); }
.bpmn-icon-start-event-non-interrupting-signal:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-non-interrupting-timer:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-parallel-multiple:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-compensation:before { color: var(--primary-color); }
.bpmn-icon-end-event-cancel:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-condition:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-non-interrupting-parallel-multiple:before { color: var(--primary-color); }
.bpmn-icon-start-event-condition:before { color: var(--primary-color); }
.bpmn-icon-start-event-non-interrupting-timer:before { color: var(--primary-color); }
.bpmn-icon-sequential-mi-marker:before { color: var(--primary-color); }
.bpmn-icon-business-rule:before { color: var(--primary-color); }
.bpmn-icon-sub-process-marker:before { color: var(--primary-color); }
.bpmn-icon-start-event-parallel-multiple:before { color: var(--primary-color); }
.bpmn-icon-start-event-error:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-signal:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-error:before { color: var(--primary-color); }
.bpmn-icon-end-event-compensation:before { color: var(--primary-color); }
.bpmn-icon-subprocess-collapsed:before { color: var(--primary-color); }
.bpmn-icon-subprocess-expanded:before { color: var(--primary-color); }
.bpmn-icon-task:before { color: var(--primary-color); }
.bpmn-icon-end-event-error:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-escalation:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-timer:before { color: var(--primary-color); }
.bpmn-icon-start-event-escalation:before { color: var(--primary-color); }
.bpmn-icon-start-event-signal:before { color: var(--primary-color); }
.bpmn-icon-business-rule-task:before { color: var(--primary-color); }
.bpmn-icon-manual:before { color: var(--primary-color); }
.bpmn-icon-receive:before { color: var(--primary-color); }
.bpmn-icon-call-activity:before { color: var(--primary-color); }
.bpmn-icon-start-event-timer:before { color: var(--primary-color); }
.bpmn-icon-start-event-message:before { color: var(--primary-color); } 
.bpmn-icon-intermediate-event-none:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-link:before { color: var(--primary-color); }
.bpmn-icon-end-event-escalation:before { color: var(--primary-color); }
.bpmn-icon-bpmn-io:before { color: var(--primary-color); }
.bpmn-icon-gateway-complex:before { color: var(--primary-color); } 
.bpmn-icon-gateway-eventbased:before { color: var(--primary-color); }
.bpmn-icon-gateway-none:before { color: var(--primary-color); }
.bpmn-icon-gateway-or:before { color: var(--primary-color); }
.bpmn-icon-end-event-terminate:before { color: var(--primary-color); }
.bpmn-icon-end-event-signal:before { color: var(--primary-color); }
.bpmn-icon-end-event-multiple:before { color: var(--primary-color); }
.bpmn-icon-end-event-message:before { color: var(--primary-color); }
.bpmn-icon-end-event-link:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-message:before { color: var(--primary-color); } 
.bpmn-icon-intermediate-event-throw-compensation:before { color: var(--primary-color); }
.bpmn-icon-start-event-multiple:before { color: var(--primary-color); }
.bpmn-icon-script:before { color: var(--primary-color); }
.bpmn-icon-manual-task:before { color: var(--primary-color); }
.bpmn-icon-send:before { color: var(--primary-color); }
.bpmn-icon-service:before { color: var(--primary-color); }
.bpmn-icon-receive-task:before { color: var(--primary-color); }
.bpmn-icon-user:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-throw-escalation:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-multiple:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-non-interrupting-escalation:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-throw-link:before { color: var(--primary-color);; }
.bpmn-icon-start-event-non-interrupting-condition:before { color: var(--primary-color); }
.bpmn-icon-data-object:before { color: var(--primary-color); }
.bpmn-icon-script-task:before { color: var(--primary-color); }
.bpmn-icon-send-task:before { color: var(--primary-color); }
.bpmn-icon-data-store:before { color: var(--primary-color); }
.bpmn-icon-start-event-non-interrupting-escalation:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-throw-message:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-non-interrupting-multiple:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-non-interrupting-signal:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-throw-multiple:before { color: var(--primary-color); }
.bpmn-icon-start-event-non-interrupting-message:before { color: var(--primary-color); }
.bpmn-icon-ad-hoc-marker:before { color: var(--primary-color); }
.bpmn-icon-service-task:before { color: var(--primary-color); }
.bpmn-icon-task-none:before { color: var(--primary-color); }
.bpmn-icon-compensation-marker:before { color: var(--primary-color); }
.bpmn-icon-start-event-non-interrupting-multiple:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-throw-signal:before { color: var(--primary-color); }
.bpmn-icon-intermediate-event-catch-non-interrupting-condition:before { color: var(--primary-color); }
.bpmn-icon-participant:before { color: var(--primary-color); }
.bpmn-icon-event-subprocess-expanded:before { color: var(--primary-color); }
.bpmn-icon-lane-insert-below:before { color: var(--primary-color); }
.bpmn-icon-lane:before { color: var(--primary-color); }
.bpmn-icon-lane-insert-above:before { color: var(--primary-color); }
.bpmn-icon-lane-divide-three:before { color: var(--primary-color); }
.bpmn-icon-lane-divide-two:before { color: var(--primary-color); }
.bpmn-icon-data-input:before { color: var(--primary-color); }
.bpmn-icon-data-output:before { color: var(--primary-color); }
.bpmn-icon-group:before { color: var(--primary-color); }
.bpmn-icon-text-annotation:before { color: var(--primary-color); }
.bpmn-icon-transaction:before { color: var(--primary-color); }
.bpmn-icon-screw-wrench:before { color: var(--primary-color); }
.bpmn-icon-connection:before { color: var(--primary-color); }
.bpmn-icon-conditional-flow:before { color: var(--primary-color); } 
.bpmn-icon-default-flow:before { color: var(--primary-color); }
 
.bio-properties-panel-header-type{
  color: var(--text-color)
}

.app-dark .djs-palette .entry,
.app-dark .djs-palette .djs-palette-toggle {
  color: var(--primary-color) !important;
}

.app-dark .djs-visual path,
.app-dark .djs-visual rect,
.app-dark .djs-visual circle {
  stroke: var(--primary-color) !important;
}

.app-dark .djs-context-pad .entry {
  background-color: var(--surface-ground) !important;
}

.djs-palette {
  padding: 15px;
  border-radius: 3px !important;
  background: var(--surface-overlay) !important;
  border: solid 1px var(--p-inputtext-border-color) !important;
  border-radius: 2px !important;
  left: -5px !important;
  top: -5px !important;
}

.app-dark .djs-element.selected .djs-outline {
  stroke: #00ff5f;
}

.app-dark .djs-palette {
  background-color: var(--surface-ground);
  border: solid thin rgba(224, 224, 224, 0.37);
}

.djs-palette {
  width: 80px !important;
}

.djs-context-pad .entry {
  width: 25px !important;
  height: 25px !important;
  padding: 1px !important;
}

.bpmn-icon-trash {
  color: rgb(223, 96, 46);
}

.bio-properties-panel-container{
  background-color: var(--surface-overlay) !important;
}

.bio-properties-panel {
  width: 400px !important;
}

.p-accordionheader, .bio-properties-panel-group {
  background: var(--surface-overlay) !important;
}

.painel-bpmn .p-tabpanels {
  padding: 0;
}

.bio-properties-panel-group-header-title, .bio-properties-panel-entry, .bio-properties-panel-textfield, .bio-properties-panel-description{
  color: var(--text-color) !important; ;
}

.bio-properties-panel-textfield input, .bio-properties-panel-entry textarea, .bio-properties-panel-entry select{
  background: var(--surface-overlay) !important;
  border: 1px solid var(--p-inputtext-border-color);
}

.bpmn-icon-process:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../icons/process.svg'); 
}
 
.bio-properties-panel-group-header-button{
  fill: var(--text-color) !important;
}

.bio-properties-panel-header-icon{
  fill: var(--text-color) !important;
} 

.djs-palette .djs-palette-entries .entry{ 
  color: var(--text-color); 
}

.djs-palette .djs-palette-entries .entry:hover{ 
  color: var(--primary-color) !important; 
}