<div class="flex flex-col md:flex-row gap-4">
    <div class="flex items-center">
        <p-checkbox id="checkOption1" name="option" value="Segunda" />
        <label for="checkOption1" class="ml-2">Segunda</label>
    </div>
    <div class="flex items-center">
        <p-checkbox id="checkOption2" name="option" value="Terça"/>
        <label for="checkOption2" class="ml-2">Terça</label>
    </div>
    <div class="flex items-center">
        <p-checkbox id="checkOption3" name="option" value="Quarta"/>
        <label for="checkOption3" class="ml-2">Quarta</label>
    </div>
    <div class="flex items-center">
      <p-checkbox id="checkOption1" name="option" value="Segunda" />
      <label for="checkOption1" class="ml-2">Quinta</label>
  </div>
  <div class="flex items-center">
      <p-checkbox id="checkOption2" name="option" value="Terça"/>
      <label for="checkOption2" class="ml-2">Sexta</label>
  </div>
  <div class="flex items-center">
      <p-checkbox id="checkOption3" color="danger" name="option" value="Quarta"/>
      <label for="checkOption3" class="ml-2">Sabádo</label>
  </div>
  <div class="flex items-center">
    <p-checkbox id="checkOption3" name="option" value="Quarta"/>
    <label for="checkOption3" class="ml-2">Domingo</label>
</div>
</div>
