
<app-titulo-pesquisa
  [value]="{ customLabel: 'Nova permissão', routerLink: 'permissoes/form', hideBack: true, showCustom: true, }"
  (customEmit)="editarPermissao()" />
<app-tabela [auth]="{edit: 'INT', delete: 'AUS', users: 'AUS', config: 'AUS'}" [page]="pagina" [itens]="permissoes"
  [cols]="colsPermissoes" [view]="{ editEvent: true, delete: true, users: true, customConfig: true }"
  (editarEmit)="editarPermissao($event)" (configEmit)="configurarPermissao($event)"
  (excluirEmit)="removerPermisao($event)" (grupoUsuarioEmit)="grupoUsuario($event)" />

<p-dialog header="Permissão" [modal]="true" [(visible)]="viewPermissao">
  @if(permissao){
  <div class="flex flex-col gap-2 w-full my-6" style="width: 100%; max-width: 400px;">
    <label for="lastName" class="required">Nome</label>
    <input [(ngModel)]="permissao.nome" pInputText type="text" />
  </div>
  <app-voltar-salvar (salvarEmit)="salvarNome()" [cancel]="true" (voltarEmit)="viewPermissao = false" />
  }
</p-dialog>

<p-dialog header="Usuários do grupos" [modal]="true" [(visible)]="viewGrupoUsuario" [style]="{'min-width': '90%'}">
  @if(permissao && viewGrupoUsuario && usuarios){
  <h5 class="text-center">Usuários</h5>
  <p-picklist [source]="usuarios" filterBy="firstName" [target]="permissao.usersSelect" [styleClass]="layoutService.isDesktop() ? 'min-dialog-full' : ''"
    [dragdrop]="layoutService.isDesktop()" [responsive]="true" [breakpoint]="'900px'" [scrollHeight]="layoutService.isDesktop() ? '90%' : 'auto'">
    <ng-template let-item #item>
      <div class="flex flex-col">
        <span class="col-span-6">{{ item.firstName }}</span>
        <span class="text-sm text-gray-400">{{ item.email }}</span>
      </div>
    </ng-template>
  </p-picklist>
  <app-voltar-salvar (salvarEmit)="viewGrupoUsuario = false; salvar(true)" [cancel]="true"
    (voltarEmit)="viewGrupoUsuario = false; this.listarUsuarios()" />
  }
</p-dialog>

<p-dialog header="Confiração de atribuições do grupo" [modal]="true" [(visible)]="viewConfiguracaoPermissao"
  [style]="{'min-width': '90%'}">
  @if(permissao && viewConfiguracaoPermissao){
  <h5 class="text-center">Permissões</h5>
  <p-picklist [source]="grupos" filterBy="nome" [target]="permissao.gruposSelect" [styleClass]="layoutService.isDesktop() ? 'min-dialog-full' : ''"
    [dragdrop]="layoutService.isDesktop()" [responsive]="true" [breakpoint]="'900px'" [scrollHeight]="layoutService.isDesktop() ? '90%' : 'auto'">
    <ng-template let-item pTemplate="item">
      <div class="flex items-center gap-2">
        <span class="font-semibold">{{ item.nome }}</span>
      </div>
    </ng-template>
  </p-picklist>
  <app-voltar-salvar (salvarEmit)="viewConfiguracaoPermissao = false; salvar(false)" [cancel]="true"
    (voltarEmit)="viewConfiguracaoPermissao = false; this.listarPerfils()" />
  }
</p-dialog>
