@media screen and (min-width: 1960px) {

  .layout-main,
  .landing-wrapper {
    width: 1504px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 992px) {

  .td-max td:nth-child(2) {
    word-break: keep-all !important;
  }

  .card-task {
    flex-basis: 330px;
  }

  .landing {
    height: auto;
    margin-left: 0;
  }

  .layout-wrapper {
    &.layout-overlay {
      .layout-main-container {
        margin-left: 0;
        padding-left: 1rem;
      }

      .layout-sidebar {
        transform: translateX(-100%);
        left: 50px;
        top: 0;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-right: 1px solid var(--surface-border);
        transition:
          transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
          left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
        box-shadow:
          0px 3px 5px rgba(0, 0, 0, 0.02),
          0px 0px 2px rgba(0, 0, 0, 0.05),
          0px 1px 4px rgba(0, 0, 0, 0.08);
      }

      &.layout-overlay-active {
        .layout-sidebar {
          transform: translateX(0);
        }
      }
    }

    &.layout-static {
      .layout-main-container {
        margin-left: 15rem;
      }

      &.layout-static-inactive {
        .layout-sidebar {
          transform: translateX(-100%);
          left: 60px;
        }

        .layout-main-container {
          margin-left: 60px;
          padding-left: 1rem;
        }

        .layout-menuitem-text {
          display: none;
        }

        .layout-sidebar {
          width: 50px;
          padding: 5px;
        }

      }
    }

    .layout-mask {
      display: none;
    }
  }
}

@media (max-width: 991px) {

  .djs-palette {
    top: 55px !important;
    width: 73px !important;
    left: -14px !important;
  }

  .td-max td:nth-child(2) {
    word-break: keep-all !important;
  }

  .w-full-b {
    width: 100% !important;
  }

  .p-card-body {
    padding: 8px !important;
  }

  .min-dialog-full {
    height: 100% !important;
  }

  .p-tieredmenu-mobile {
    position: absolute !important;
  }

  .card-task {
    flex-basis: 100%;
  }

  .landing {
    padding: 0 !important;
  }

  .p-datatable-table-container {
    max-height: 100% !important;
  }

  .blocked-scroll {
    overflow: hidden;
  }

  .card {
    padding: 0.5rem !important;
    align-items: center;
  }

  .layout-wrapper {
    .layout-main-container {
      margin-left: 0;
      padding: 4rem 0.2rem 0;
    }

    .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
      top: 55px;
      padding-top: 30px;
      height: calc(100vh - 45px);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition:
        transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
        left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    }

    .layout-mask {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 994;
      width: 100%;
      height: 100%;
      background-color: var(--maskbg);
    }

    &.layout-mobile-active {
      .layout-sidebar {
        transform: translateX(0);
      }

      .layout-mask {
        display: block;
      }
    }
  }
}

@media (max-width: 640px) {

  .p-selectbutton {
    width: 100% !important;
    justify-content: space-between;
  }

  .p-togglebutton button {
    width: 100% !important;
  }

  .p-toast.p-toast-top-right,
  .p-toast.p-toast-top-left,
  .p-toast.p-toast-top-center {
    top: 60px !important;
    width: 95%;
  }
}


